@import "../variables";

.add_account & {
  .btn-inline-custom4 {
    font-size: 1rem;
  }
  .l_add-account-container {
    .accordion {
      margin-bottom: 2.375rem;

      .card {
        border: none;

        .card-header {
          padding: .95rem 1.25rem;
          background-color: #EDEFFF;
          &.collapsed .rules_desc::before {
            content: "";
            width: 20px;
            height: 3px;
            background-color: #6244c9;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            position: absolute;
          }
          h2 {
            font-size: 1.125rem;
            font-family: Rubik, sans-serif;
            color: #1F2022;
            font-weight: 400;

            .rules_desc {
              border-bottom: 3px solid #6244c9;
              float: right;
              height: 3px;
              width: 20px;
              cursor: pointer;
              margin-top: .55rem;
              @media (max-width: 576px) {
                margin-top: 0;
              }
            }
          }
        }

        .card-body {
          max-height: 250px;
          overflow-y: auto;
          background-color: #F8FBFC;
          line-height: 1.66;
        }
      }
    }
  }

  .l_site-title {
    margin-bottom: 1.5625rem;
    margin-top: 3rem;
    @media (max-width: 1600px), (max-height: 700px) {
      margin: 1.5rem 0 1rem;
  }
    @media (max-width: 800px) {
      margin: 1rem 0;
    }
  }

  .l_add-account-sub_title {
    font-size: 1.125rem;
    font-family: Rubik, sans-serif;
    color: #c3c1c1;
    line-height: 1.333;
    margin-bottom: 1.25rem;
  }

  .account_form-container {
    .account_form-title {
      margin-bottom: 1.875rem;
      font-size: 1.5rem;
      color: #2C2D2E;
      line-height: 1.5;

      a {
        color: #B1BCFF;
        border-bottom: 2px solid #B1BCFF;

        &:hover, &:focus {
          color: #c6ceff;
          border-bottom: 2px solid #c6ceff;
        }
      }
    }

    .account_form {
      max-width: 570px;
      margin: auto;
      @media (max-width: 576px) {
        text-align: center;
      }

      label {
        font-weight: 500;
        font-size: 1.125rem;
      }

      input {
        color: #2c2d2e;
        font-weight: 500;
        font-family: Montserrat, sans-serif;
        @media (max-width: 576px) {
          text-align: center;
        }
      }
    }
  }

}