@import "../variables";


.description_templates & {
  .l_desc-container {
    @media (min-width: 1600px) {
      margin-top: 3rem ;
    }
    @media (max-width: 1200px) {
      margin-bottom: 3rem !important;
    }
    @media (min-width: 992px) {
      margin-top: 1rem;
    }
    .l_site-title {
      margin-bottom: 3.125rem;
      @media (max-width: 1600px) {
        margin-bottom: 1rem;
        margin-top: .5rem;
      }
      @media (max-width: 576px) {
        margin-top: 1rem;
      }
    }


    .l_desc-templates-container {
      @media (max-width: 767px) {
        text-align: center;
      }

      .responsive-table {
        @media (max-width: 1199px) {
          display: block;
          width: 95vw;
          overflow-x: auto;
        }
        -webkit-overflow-scrolling: touch;
      }

      .add_desc-templates {
        padding: 0.54rem 5.2rem;
        margin-bottom: 2.1875rem;
        @media (max-width: 1600px) {
          margin-bottom: 1rem;
        }
      }

      .desc_templates-browse {
        width: 24px;
        height: 15px;
        display: inline-block;
        background: url(../images/sprite_btn.png) no-repeat -52px 0;
        margin: 0 5px;
      }

      .desc_templates-edit {
        width: 16px;
        height: 15px;
        display: inline-block;
        background: url(../images/sprite_btn.png) no-repeat -34px 0;
        margin: 0 5px;
      }

      .desc_templates-delete {
        width: 15px;
        height: 15px;
        display: inline-block;
        background: url(../images/sprite_btn.png) no-repeat 0 0;
        margin: 0 6px;
      }
    }
  }
}