@import "../variables";
@import "../nav";

// HEADER
.l_site-header {
  overflow: hidden;
  position: relative;
  height: 100vh;
  .l_header--navbar {
    padding: 3.3rem 0;
    @media (max-width: 1680px) {
      padding: 2rem 0;
    }
    @media (max-width: 1600px) {
      padding: 1.5rem 0;
    }
    @media (max-width: 991px) {
      border-bottom: 1px solid #E5E9EF;
      width: 100vw;
      background-color: white;
      padding: 0.5rem 1rem !important;
      top: 0;
      z-index: 1030;
      left: 0;
      position: fixed;
    }
    .navbar-brand{
      margin: 0 6.66rem 0 0;
      z-index: 100;
      @media (max-width: 576px) {
        margin: 0;
      }
    }
    .l_header--menu {
      font-family: Montserrat, sans-serif;
      font-weight: 500;

      .nav-item.l_lang {
        padding-top: 5px;
        @media (max-width: 1400px) {
          padding-top: 0;
        }
        .nav-link {
          display: inline-flex;
          background-color: #FFF;
          font-size: 1rem;
          padding: 10px 25px;
          letter-spacing: normal;
          @media (max-width: 1400px) {
            padding: 8px 20px;
          }
        }

        .l_current_lang {
          &--ru {
            color: #FFF !important;
            background-color: #E475AC;
            @media (max-width: 991px) {
              color: #000;
            }

            &:hover {
              color: darken(#FFF, 20%) !important;
              @media (max-width: 991px) {
                color: darken(#FFF, 20%) !important;
              }
            }
          }

          &--en {
            color: #E475AC !important;
            background-color: #EBEBEB;
            &:hover {
              color: darken(#E475AC, 20%) !important;
            }
          }
        }
      }

      .nav-item {
        .nav-link {
          padding: 0.5rem 33px 0 36px;
          color: #FFF;
          font-size: 1.5rem;

          text-transform: uppercase;
          @media (max-width: 1400px) {
            font-size: 1rem;
            padding: 8px 33px 0 36px;
          }
          @media (max-width: 991px) {
            padding: .51rem 0;
          }
          @media (min-width: 992px) and (max-width: 1200px) {
            padding-right: 1.25rem;
            padding-left: 1.25rem;
          }
          &:hover {
            color: darken(#FFF, 20%);
          }
        }

        .l_auth__button {
          background-color: #ff3c88;
          width: 168px;
          height: 49px;
          text-transform: none;
          border-radius: 10px;
          font-family: Rubik, sans-serif;
          font-size: 1.125rem;
          font-weight: 300;
          margin-left: 10px;
          padding: 11px 0;
          @media (max-width: 1400px) {
            font-size: 1rem;
            width: 145px;
            height: 40px;
            padding: 8px 0;
          }

          &:hover {
            color: #FFF;
            background-color: #cd2868;
          }

          &:focus {
            color: #FFF;
            background-color: #b01e56;
          }
        }
      }
    }
  }

  .masthead {
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 83%;
    width: 100%;
    @media (max-width: 576px) {
      height: 100%;
    }
    @media (min-width: 992px) {
      //height: 100%;
      min-height: 0;
      width: 40.5rem;
      padding-bottom: 0;
    }

    .masthead-content {
      padding-top: 4rem;
      @media (max-width: 576px) {
        padding-top: 2rem;
      }
      h1 {
        font-size: 3.55rem;
        //font-family: 'RubikRegular', sans-serif;
        font-family: Rubik, sans-serif;
        font-weight: 400;
        @media (max-height: 900px) {
          font-size: 3.125rem;
        }
        @media (max-height: 768px) {
          font-size: 2.9375rem;
        }
        @media (max-width: 541px) {
          font-size: 2.5rem;
        }


      }

      .sub_text {
        color: #c3c1c1;
        font-size: 1.12rem;
        max-width: 400px;
        @media (max-width: 541px) {
          font-size: 1rem;
        }
        @media (max-width: 576px) {
          max-width: 100%;
        }
      }
    }
  }
}
