@import "../variables";
@import "util";

.l_site-current_tariff {
  @extend %profile_container_br-b;
  .current_tariff-title{
    @extend %profile_title;
  }
  .current_tariff-container{
    @extend %profile-container;
    .current_tariff-box{
      max-width: 370px;
      border-radius: 8px;
      padding: 3.125rem;
      box-shadow: 0 13px 36.34px 9.66px rgba(68, 72, 230, 0.06);
      .current_tariff-box__title{
        color: #b08fe0;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.5;
      }
      .current_tariff-box__desc{
        color: $a;
        font-size: 1.125rem;
      }
    }
  }
}





