@import "variables";

.ch-100 {
  @media (max-width: 991px) {
    height: unset !important;
  }
}

@media (min-width: 992px) {
  .mr-lg-5 {
    margin-right: 5rem !important;
  }
}
@media (min-width: 1200px) {
  .mr-xl-7 {
    margin-right: 7rem !important;
  }
}

.mb-lx-5{
  @media (max-width: 1200px) {
    margin-bottom: 3rem !important;
  }
}

.w-26--after {
  &::after {
    width: 26% !important;
  }
}


@media (max-width: 991px) {
  .mt-md-50p{
    //margin-top: 50% !important;
  }
}

.mb-ll-6 {
  @media (min-width: 1600px) {
    margin-bottom: 6rem !important;
  }
}

.mt-md-200x {
  @media (min-width: 992px) {
  //  margin-top: 220px;
  }
}

.pt-6 {
  padding-top: 4rem !important;
}

.bb-1s{
  border-bottom: 1px solid #f3edfb;
}


.bg-f9{
  background-color: #F9F9F9;
}


.fixed-md-top{
  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}


.text-small{
  font-size: .5rem !important;
}

.text-normal {
  font-size: 1rem !important;
}

.text-medium {
  font-size: 1.3rem !important;
}

.text-large{
  font-size: 2rem !important;
}


.rounded-medium {
  border-radius: 0.65rem !important;
}

.rounded-large {
  border-radius: 1rem !important;
}


.form-control:focus {
  color: #495057;
  background-color: $white;
  border-color: unset;
  outline: 0;
  box-shadow: none;
}


.custom-field{
  border-radius: 10px;
  background-color: $white;
  border: none;
  font-size: 1.5rem;
  color: $gray-777;
  padding: 2.1875rem 1.5625rem;
  @media (max-width: 1600px) {
    padding: 1.8rem 1.5625rem;
  }
}

.custom-field2{
  @extend .custom-field;
  background-color: #FFFDFD;
  border: 1px solid $field2_brc;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1.344rem 1.5625rem;
  @media (max-width: 1600px) {
    padding: .9rem 1.5625rem;
  }
  &:focus {
    color: $gray-777;
    background-color: #FFFDFD;
    border: 1px solid $field2_brc;
    outline: 0;
    box-shadow: none;
  }
}


.ui-page{
  height: 100%;
}

.p-07{
  padding: 0.7rem;
}

.p-xxl-3{
  @media (min-width: 1600px) {
    padding: 1rem !important;
  }
}

.mt-xxl-5{
  @media (min-width: 1600px) {
    margin-top: 3rem !important;
  }
}

.w-45 {
  width: 45% !important;
}


.perfect-scrollbar2 {
  max-height: 410px;
  min-height: 200px;
  position: relative;
  @media (max-width: 768px) {
    overflow: auto;
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
}