@import "variables";

.ch-100 {
  @media (max-width: 991px) {
    height: unset !important;
  }
}

@media (min-width: 992px) {
  .mr-lg-5 {
    margin-right: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .mr-xl-7 {
    margin-right: 7rem !important;
  }
}

.mb-lx-5 {
  @media (max-width: 1200px) {
    margin-bottom: 3rem !important;
  }
}

.w-26--after {
  &::after {
    width: 26% !important;
  }
}


@media (max-width: 991px) {
  .mt-md-50p {
    //margin-top: 50% !important;
  }
}

.mb-ll-6 {
  @media (min-width: 1600px) {
    margin-bottom: 6rem !important;
  }
}

.mt-md-200x {
  @media (min-width: 992px) {
    //  margin-top: 220px;
  }
}

.mb-5_2 {
  margin-bottom: 2.5rem !important;
}

.pt-6 {
  padding-top: 4rem !important;
}

.mt-6 {
  padding-top: 4rem !important;
}

.ml-sm-0{
  @media (max-width: 576px) {
    margin-left: 0 !important;
  }
}
.pr-sm-2 {
  @media (max-width: 576px) {
    padding-right: 2rem;
  }
}

.pr-sm-3 {
  @media (max-width: 576px) {
    padding-right: 1rem !important;
  }
}

.pl-sm-3 {
  @media (max-width: 576px) {
    padding-left: 1rem !important;
  }
}

.bb-1s {
  border-bottom: 1px solid #f3edfb;
}


.bg-f9 {
  background-color: #F9F9F9;
}


.fixed-md-top {
  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}


.text-small {
  font-size: .5rem !important;
}

.text-normal {
  font-size: 1rem !important;
}

.text-medium {
  font-size: 1.3rem !important;
}

.text-large {
  font-size: 2rem !important;
}


.rounded-medium {
  border-radius: 0.65rem !important;
}

.rounded-large {
  border-radius: 1rem !important;
}


.form-control:focus {
  color: #495057;
  background-color: $white;
  border-color: unset;
  outline: 0;
  box-shadow: none;
}


.custom-field {
  border-radius: 10px;
  background-color: $white;
  border: none;
  font-size: 1.5rem;
  color: $gray-777;
  padding: 2.1875rem 1.5625rem;
  @media (max-width: 1600px) {
    padding: 1.8rem 1.5625rem;
  }
}

.custom-field2 {
  @extend .custom-field;
  background-color: #FFFDFD;
  border: 1px solid $field2_brc;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1.344rem 1.5625rem;
  @media (max-width: 1600px) {
    padding: .9rem 1.5625rem;
  }

  &:focus {
    color: $gray-777;
    background-color: #FFFDFD;
    border: 1px solid $field2_brc;
    outline: 0;
    box-shadow: none;
  }
}

.custom-field3 {
  @extend .custom-field;
  background-color: #FFFDFD;
  border: 1px solid $field2_brc;
  border-radius: 5px;
  font-size: 1.5rem;
  color: $gray-777;
  font-family: Rubik, sans-serif;
  padding: 1.9rem 1.5625rem;

  &:-moz-placeholder {
    color: $gray-777;
  }

  &::-webkit-input-placeholder {
    color: $gray-777;
  }

  @media (max-width: 1600px) {
    padding: 1.8rem 1.5625rem;
  }
  @media (max-width: 576px) {
    font-size: 1.2rem;
  }
  &:focus {
    color: $gray-777;
    background-color: #FFFDFD;
    border: 1px solid $field2_brc;
    outline: 0;
    box-shadow: none;
  }
}

.custom-control {
  border: 1px solid #f3edfb;
  border-radius: 10px;
  background-color: #fffdfd;
  resize: none;
  padding: 1rem 1.5625rem;

  &:-moz-placeholder {
    color: $gray-777;
  }

  &::-webkit-input-placeholder {
    color: $gray-777;
  }

  &:focus {
    border: 1px solid #f3edfb;
    background-color: #FFFDFD;
    outline: 0;
    box-shadow: none;
  }
}

.bold {
  font-family: Rubik, sans-serif;
  font-weight: 500;
}

.ui-page {
  height: 100%;
}

.p-07 {
  padding: 0.7rem;
}

.p-xxl-3 {
  @media (min-width: 1600px) {
    padding: 1rem !important;
  }
}

.mt-xxl-5 {
  @media (min-width: 1600px) {
    margin-top: 3rem !important;

  }
}

.mb-xxl-4 {
  @media (min-width: 1600px) {
    margin-top: 1.5rem !important;
  }
}

.mb-xxl-3 {
  @media (min-width: 1600px) {
  margin-bottom: 1rem !important;
  }
}



.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
}

.w-xl-60 {
  @media (min-width: 1200px) {
    width: 60% !important;
  }
}

.perfect-scrollbar2 {
  max-height: 410px;
  min-height: 200px;
  position: relative;
  @media (max-width: 768px) {
    overflow: auto;
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
}


.table-bordered {
  border: 1px solid #F3EDFB;

  .switch_box {
    margin: 0;
  }
}

.table-bordered td {
  border: 1px solid #F3EDFB;
  text-align: center;
  vertical-align: inherit;
}

.table thead {
  background-color: #F9F9F9;
}

.table thead th, .table-bordered th, .table-bordered thead td {
  border: none;
  text-align: center;
  min-width: 150px;
  vertical-align: inherit;
}

.table-stripe tbody tr:nth-of-type(even) {
  background-color: #F9F9F9;
}

.table-bordered th {
  color: $table_c;
  font-weight: 400;
  font-family: Rubik, sans-serif;
}

.table .custom-field2 {
  height: calc(1.5em + 5px);
  padding: 0 1.5625rem;
  border-radius: 10px;
  text-align: center;
}


.l_radio {
  display: inline-block;
}

.l_radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0.625rem 0 0 0.4375rem;
}

.l_radio__text {
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #1f2022;
  font-weight: 500;
  font-family: Monserat, sans-serif;
  @media (max-height: 700px) {
    padding-left: 3rem;
    font-size: 1.3rem;
  }
  @media (max-width: 576px) {
    padding-left: 2rem;
    font-size: 1.3rem;
  }
}

.l_radio__text:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #BD90E4;
  border-radius: 50%;
  background: #FFF;
  @media (max-height: 700px) {
    top: 0;
    width: 28px;
    height: 28px;
  }
  @media (max-width: 576px) {
    top: 0;
    width: 25px;
    height: 25px;
  }
}

.l_radio__text:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #BD90E4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  opacity: 0;
  transition: .2s;
  @media (max-height: 700px) {
    top: 8px;
    left: 8px;
    width: 12px;
    height: 12px;
  }
  @media (max-width: 576px) {
    top: 7px;
    left: 7px;
    width: 11px;
    height: 11px;
  }
}

.l_radio input:checked + .l_radio__text:after {
  opacity: 1;
}



/*
 Custom CheckBox
*/
.custom_check {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  .toggle__label {
    display: inline-flex;
    cursor: pointer;
    min-height: 50px;

    padding-left: calc(50px + .4em);
    &::before {
      content: "";
      box-sizing: border-box;
      width: 1em;
      height: 1em;
      font-size: 2.1875rem;
      position: absolute;
      left: 0;
      top: 9px;
      border: 2px solid #F6EDFC;
      z-index: 2;
    }
  }


  .toggle__input {
    position: absolute;
    left: -99999px;
    &:disabled ~ .toggle__label:before {
      border-color: #868e96;
    }

    &:not(:disabled):checked ~ .toggle__label .toggle__text:before {
      width: .5em;
      height: .25em;
      border-left-width: 2px;
      border-bottom-width: 2px;
      will-change: width, height;
      transition: width .1s ease-out .2s, height .2s ease-out;
    }
  }

  .toggle__text {
    margin-top: auto;
    margin-bottom: auto;
    &:before {
      content: "";
      box-sizing: border-box;
      width: 0;
      height: 0;
      font-size: 2.1875rem;

      border-left-width: 0;
      border-bottom-width: 0;
      border-left-style: solid;
      border-bottom-style: solid;
      border-color: #7A15D4;

      position: absolute;
      top: .75428em;
      left: .2em;
      z-index: 3;

      transform-origin: left top;
      transform: rotate(-40deg) skew(10deg);
    }
  }
}

.icon-credit-input{
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="credit-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class=""><path fill="#E6E6E6" d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z"></path></svg>') no-repeat scroll 20px 17px;
  background-size: 28px !important;
  &:focus {
    background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="credit-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class=""><path fill="#1f2022" d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z"></path></svg>') no-repeat scroll 20px 17px;
  }
}

.icon-credit-cxp {
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="credit-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class=""><path fill="#E6E6E6" d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z"></path></svg>') no-repeat scroll 20px 17px;
  background-size: 28px !important;
  &:focus {
    background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="credit-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class=""><path fill="#1f2022" d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z"></path></svg>') no-repeat scroll 20px 17px;
  }
}

.icon-credit-cvc{
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="credit-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class=""><path fill="#E6E6E6" d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z"></path></svg>') no-repeat scroll 20px 17px;
  background-size: 28px !important;
  &:focus {
    background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="credit-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class=""><path fill="#1f2022" d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z"></path></svg>') no-repeat scroll 20px 17px;
  }
}