// Bootstrap
@import 'bootstrap';
//@import '~bootstrap/scss/bootstrap';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
//@import '~fullcalendar/dist/fullcalendar.min.css';
//SLICK slider
//@import '~slick-carousel/slick/slick';
// FontAwesome
//@import "~@fortawesome/fontawesome-free/css/all";
//Fonts 
//@import "fonts";
@import "button";
@import "util";
@import "nav";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 0 auto;
  position: relative;
  transition: transform .1s ease-in-out;
  background-color: #fff;
  color: $main_black;
}

a {
  text-decoration: none;
  color: $a;

  &:hover {
    color: $a_hover;
    text-decoration: none;
  }

  &:focus {
    color: $a_focus;
    text-decoration: none;
  }
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

button:focus {
  outline: none;
}


.container {
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}

.l_header--h1, .l_header--h2 {
  font-size: 2.25rem;
  display: inline-flex;
  position: relative;
  //font-family: 'Montserrat Bold', sans-serif;
  font-family: Montserrat;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  letter-spacing: 1px;
  @media (max-width: 1200px) {
    font-size: 2rem;
  }
  @media (max-width: 991px) {
    font-size: 1.875rem;
  }
  @media (max-width: 768px) {
    font-size: 1.625rem;
  }
  @media (max-width: 541px) {
    font-size: 1.3125rem;
  }
}

.l_header--h2 {
  //font-family: 'MontserratMedium', sans-serif;
  font-family: Montserrat;
  font-weight: 500;
  padding: 0 15%;
  margin-bottom: 0;
  @media (max-width: 768px) {
    padding: unset;
  }
}


.navbar-toggler {
  border: 1px solid #fff;
}


// HEADER
.l_header {
  position: relative;
  z-index: 100;
  background-color: rgb(255, 253, 253);
  box-shadow: 0px 0px 5.95px 1.05px rgba(69, 65, 78, 0.08);
  @media (min-width: 1200px) {
    padding: 22px 0;
  }

  .l_header--navbar {
    font-weight: 500;
    @media (max-width: 991px) {
      background-color: white;
      padding: 0.5rem 1rem !important;
    }
  }

  .l_tariff-range {
    font-size: 18px;
    color: rgb(44, 45, 46);
    font-weight: 500;
  }

  .l_tariff-button {
    font-size: 18px;
    font-weight: 500;
    padding: 5px 29px;
    background-color: rgb(255, 60, 136);
    text-align: center;
    color: #fff;
  }
}

.l_site-main {
  .sidenav {
    border-width: 1px;
    border-color: $aside_bc;
    border-style: solid;
    background-color: $aside_bgc;
    border-top: none;
    @media (min-width: 1201px) {
      transform: none !important;
    }

    @media (max-width: 1200px) {
      //position: relative;
      aside {
        height: auto;
      }
      padding-top: 56px !important;
      z-index: 99;
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: 390px; /* Set the width of the sidebar */
      position: absolute; /* Fixed Sidebar (stay in place on scroll) */
      top: 0; /* Stay at the top */
      left: -390px;
      transition: all 1s ease-in-out;
      a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;

        &:hover {
          color: #f1f1f1;
        }
      }
    }
    @media (max-width: 390px) {
      width: 100vw;
      left: -100vw;
    }
    &.show {
      transform: translateX(390px);
      @media (max-width: 390px) {
        transform: translateX(100vw);
        .l_site-sidebar {
          .l_user-menu--toggle {
            position: absolute;
            right: 20px;
            width: 23px;
            height: 18px;
            top: 10px;
            border: none;
            &::before{
              content: "";
              width: 23px;
              height: 2px;
              position: absolute;
              left: 0;
              top: 10px;
              background-color: #38393B;
              transform: rotate(50deg);
            }
            &::after{
              content: "";
              width: 23px;
              height: 2px;
              position: absolute;
              left: 0;
              top: 10px;
              background-color: #38393B;
              transform: rotate(130deg);
            }
          }
        }
      }
    }

    .l_site-sidebar {
      position: relative;
      padding-top: 30px;

      .l_user-menu--toggle {
        position: absolute;
        right: -30px;
        top: 10px;
        width: 23px;
        height: 18px;
        transition: all 1s ease-in-out;
        border-top: 2px solid #38393B;
        &::before{
          content: "";
          width: 23px;
          height: 2px;
          position: absolute;
          left: 0;
          top: 14px;
          background-color: #38393B;
        }
        &::after{
          content: "";
          width: 23px;
          height: 2px;
          position: absolute;
          left: 0;
          top: 6px;
          background-color: #38393B;
        }
        @media (min-width: 1201px) {
          visibility: hidden;
        }
      }

      .l_user-info {
        .l_user-photo {
          max-width: 150px;
          border-radius: 50%;
        }

        .l_user-login {
          font-size: 24px;
          font-weight: 500;
        }

        .l_user-name {
          font-size: 18px;
          font-weight: 500;
        }

        .l_user-edit {
          font-weight: 500;
          font-size: 14px;
        }
      }

      .l_user-soc_info {
        .l_user-soc_info--title {
          color: $aside_tc;
        }

        .l_user-soc_info--desc {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #999;
          font-weight: 500;
        }
      }

      .l_other_account {
        max-height: 410px;
        min-height: 200px;
        position: relative;

        .l_other_account-info {
          color: $aside_tc;
          font-weight: 500;
          font-size: 18px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .l_other_account-photo {
            max-width: 79px;
            border-radius: 50%;
          }

          .l_other_account-login {
            display: inline-flex;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 205px;
            cursor: pointer;
          }

          .l_other_account-btn--edit {
            margin-left: auto;
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 2px;
            display: flex;
            height: 30px;
            line-height: 20px;
            cursor: pointer;

            &::after {
              content: none !important;
            }
          }

          .dropdown-menu {
            background-color: #EEECEC;

            .dropdown-item {
              color: $a;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            .dropdown-item.active, .dropdown-item:active {
              background-color: #fff;
            }
          }

          .l_other_account-btn--edit.dropdown + .dropdown-menu.show {
            transform: translate3d(0, 60px, 0px) !important;
            right: 0;
            left: unset !important;

          }

          .l_other_account-btn--edit.dropdown + .dropdown-menu.show.last {
            transform: translate3d(0, -120px, 0px) !important;
          }
        }
      }

      .l_account-add {
        text-align: center;

        .l_total-account {
          font-size: 14px;
          font-weight: 500;
          color: #999999;
          margin-right: 15px;
        }

        .l_account-btn--add {
          padding: 0.55rem 3rem;

        }
      }
    }
  }

  .l_template-desc {
    a {
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .l_site-content {
    padding-top: 30px;
    margin-bottom: 30px;

    .l_create-pub {
      margin-bottom: 5px;
    }

    .l_total-public {
      font-size: 0.75rem;
      font-weight: 600;
      color: #999999;
      margin-right: 15px;
    }
  }

  .l_icon {
    width: 15px;
    height: 15px;
    margin-left: 1em;
    position: relative;
  }

  .l_icon--del {
    background: url(../images/sprite_btn.png) no-repeat 0 0;
  }

  .l_icon--tick {
    background: url(../images/sprite_btn.png) no-repeat -18px 0;
  }

  .l_icon--edit {
    background: url(../images/sprite_btn.png) no-repeat -35px 0;
  }
}

.fc {
  margin-bottom: 40px;

  .fc-header-toolbar {
    .fc-left h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .fc-button-group {
    }

    .fc-button {
      color: #282A2C;
      font-weight: 500;
      background-color: $calendar_c1;
      padding: 0.25rem 1em;
      border-radius: 0;
      border: 1px solid #CB9CFF;
      background-image: none;
    }
  }

  .fc-content, .fc-divider,
  .fc-list-heading td, .fc-list-view,
  .fc-popover, .fc-row, tbody,
  td, th, thead {
    border-color: $calendar_c1;
  }

  .fc-divider,
  .fc-list-heading td,
  .fc-popover .fc-header {
    background: $calendar_c1;
  }

  .fc-row {
    table th {
      font-weight: 500;
      font-size: 18px;
      padding: 6px 0;
    }
  }

  .fc-popover.fc-more-popover {
    .fc-header.fc-widget-header {
      padding: 4px 4px;

      .fc-title {
        font-size: 12px;
      }
    }
  }

  .fc-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fc-event, .fc-event-dot {
    background-color: transparent;
  }

  .fc-event {
    border: none;
  }
}

.l_footer {
  padding-top: 2.5rem;
  line-height: 2rem;
  background-color: rgb(255, 253, 253);
  box-shadow: 0px 0px 5.95px 1.05px rgba(69, 65, 78, 0.08);

  a {
    color: $main_black;

    &:hover {
      color: #6244c9;
      font-family: Montserrat;
      font-weight: 500;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  .l_footer--logo {
    font-size: 2.25rem;
    font-family: Rubik;
    font-weight: 400;
    text-transform: uppercase;
  }

  .l_footer--title {
    font-size: 1rem;
    font-family: Montserrat;
    font-weight: 500;
  }

  .l_icon {
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-flex;
    margin: 0 0.3125rem;

    &:hover {
      border: 0.5px solid transparent;
      border-radius: 25px;
    }
  }

  .l_icon--youtube {
    background: url(../images/sprite.png) no-repeat 0 0;
  }

  .l_icon--telegram {
    background: url(../images/sprite.png) no-repeat -36px 0;
  }

  .widget-lang {
    margin-top: 1rem;

    .gl-list {
      display: inline-flex;
      box-shadow: 0 2px 10.92px 2.08px rgba(98, 68, 201, 0.15);

      li {
        .lang-ru {
          color: $lang_c2 !important;
          background-color: $lang_c1;
          @media (max-width: 991px) {
            color: #000;
          }

          &:hover {
            color: darken($lang_c2, 20%) !important;
            @media (max-width: 991px) {
              color: darken($lang_c2, 20%) !important;
            }
          }
        }

        .lang-en {
          color: $lang_c1 !important;
          background-color: #EBEBEB;

          &:hover {
            color: darken($lang_c1, 20%) !important;
          }
        }

        a {
          padding: 0.5rem 1rem;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }

  .widget-currency {
    margin-top: 0.5rem;

    .gl-list {
      display: inline-flex;

      li {
        border: 2px solid $footer_tc;
        border-right: none;
        padding: 0 9px;

        &:last-child {
          border-right: 2px solid $footer_tc;
        }

        &:hover {
          background-color: $footer_tc;

          a {
            color: #fff;
          }
        }

        a {
          color: $footer_tc;
          width: 100%;
          height: 100%;
          font-weight: 500;
          text-transform: uppercase;

          &:hover {
            color: #FFF;
            font-weight: 500;
            background-color: $footer_tc;
          }
        }
      }
    }
  }
}