.btn-custom {
  background-image: linear-gradient(45deg, #dd87a3 0%, #6a11cb 100%);
  border-radius: 2.25rem;
  padding: 0.775rem 3rem;
  color: #FFF;

  &:hover {
    color: #FFF;
    background-image: linear-gradient(45deg, #dd87a3 0%, #6a11cb 100%);
  }

  &:focus {
    color: #FFF;
    background-image: linear-gradient(45deg, #cf7e98 0%, #4a339c 100%);
  }

}

.btn-inline-custom {
  color: #FFF;
  background-color: #FF3C88;
  font-size: 16px;
  border-radius: 1.25rem;
  padding: 0.375rem 2.78rem;
  border: 2px solid #FF3C88;
  font-family: 'RubikRegular', sans-serif;

  &:hover {
    color: #FFF;
    border-color: #cd2868;
    background-color: #cd2868;
  }
  &:focus {
    color: #FFF;
    border-color: #b01e56;
    background-color: #b01e56;
  }
}

.btn-inline-custom2 {
  @extend .btn-inline-custom;
  background-color: #5f26ff;
  border: 2px solid #5f26ff;
  &:hover {
    color: #FFF;
    border-color: #511ce3;
    background-color: #511ce3;
  }
  &:focus {
    color: #FFF;
    border-color: #441aba;
    background-color: #441aba;
  }
}

.btn-outline-custom {
  color: #FF3C88;
  font-size: 16px;
  border-radius: 1.25rem;
  padding: 0.375rem 2.78rem;
  border: 2px solid #FF3C88;
  font-family: 'RubikRegular', sans-serif;

  &:hover {
    color: #FFF;
    background-color: #FF3C88;
    border-color: #FF3C88;
  }

  &:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #ec2874;
  }
}

.btn-outline-custom2 {
  @extend .btn-outline-custom;
  color: #5f26ff;
  border: 2px solid #5f26ff;
  &:hover {
    color: #FFF;
    background-color: #511ce3;
    border-color: #511ce3;
  }

  &:focus {
    color: #FFF;
    border-color: #441aba;
    background-color: #441aba;
  }
}


.btn-custom-lg {
  padding: 1rem 8rem;
  font-size: 24px;
  border-radius: 2.25rem;
  @media (max-width: 541px) {
    padding: 0.5rem 5rem;
  }
}