@font-face {
    font-family: MontserratRegular;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MontserratBold;
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: MontserratMedium;
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: RubikRegular;
    src: url("../fonts/rubik/Rubik-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: RubikBold;
    src: url("../fonts/rubik/Rubik-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: RubikMedium;
    src: url("../fonts/rubik/Rubik-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
