.ch-100 {
  //height: calc(1080px - 95px) !important;
  //height: 100vh;
  @media (max-width: 991px) {
    height: unset !important;
  }
}

@media (min-width: 992px) {
  .mr-lg-5 {
    margin-right: 5rem !important;
  }
}
@media (min-width: 1200px) {
  .mr-xl-7 {
    margin-right: 7rem !important;
  }
}



.w-26--after {
  &::after {
    width: 26% !important;
  }
}


@media (max-width: 991px) {
  .mt-md-50p{
    //margin-top: 50% !important;
  }
}

.mb-ll-6 {
  @media (min-width: 1600px) {
    margin-bottom: 6rem !important;
  }
}

.mt-md-200x {
  @media (min-width: 992px) {
  //  margin-top: 220px;
  }
}

.pt-6 {
  padding-top: 4rem !important;
}

.bb-1s{
  border-bottom: 1px solid #f3edfb;
}


.bg-f9{
  background-color: #F9F9F9;
}