@import "../variables";

.report & {
  display: flex;
  align-items: center;
  height: calc(100% - 100px);
  padding: 1rem 0;
  .ddcommon .ddArrow {
    @media (max-width: 576px) {
      right: 22px;
    }
  }

  .l_report-container {
    width: 50%;
    @media (max-width: 1199px) {
      width: 600px;
      margin: 0 auto;
    }

    label {
      font-size: 1.5rem;
      font-family: Rubik, sans-serif;
      color: #1F2022;
      text-align: left;
    }

    .ddcommon {
      color: #1f2022;
      height: 65px;
      font-weight: 400;
      padding: 0.55rem 0 0 1.875rem;
      font-family: Rubik, sans-serif;
      font-size: 1.5rem;
      @media (max-width: 576px) {
        height: auto;
      }

      .ddTitle .ddTitleText .ddlabel, &.dd .ddChild li .ddlabel {
        font-weight: 400;
        font-size: 1.5rem;
      }

      .ddChild li {
        padding: 0.9rem 0 0.9rem 2.1rem;
      }
    }

    .ddcommon .ddTitle .ddlabel {
      @media (max-width: 576px) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
        cursor: pointer;
        margin-right: 2rem;
        display: block;
      }
    }
    .btn {
      padding: 1rem 0;
      font-size: 1.3rem;
      border-radius: 0.65rem;
      width: 100%;
      margin-bottom: 1rem;
      @media (max-width: 1536px) {
        padding: 0.71rem 7rem;
        font-size: 1rem;
      }
      @media (max-width: 576px) {
        padding: 0.71rem 1rem;
        margin: 0 auto 1rem !important;
      }
    }
  }

  .l_report-title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .7rem;
    font-family: Rubik, sans-serif;
    @media (max-width: 1600px) {
      font-size: 2.8rem;
      margin-bottom: 1.5rem;
    }
    @media (max-width: 800px) {
      margin-top: 1rem;
    }
    @media (max-width: 576px) {
      font-size: 2.2rem;
    }
  }
}